
body {
    background-color: rgba(255, 255, 255, 0.555);
    background: linear-gradient(to right, #FFFDE4, #005AA7);
    display: block;
    justify-content: flex-start;
    align-items: flex-end;
    font-family: "Open Sans", sans-serif;
    flex-direction: column;
    margin: 0;
    height: 100px;
    padding: 0;
    width: 100%;
  }
  
  .header {
    width: 100%;
    height: 5em;
    font-size: 20px;
    background-color: #ffffff;
    margin-top: auto;
    display: flex;
  }
  
  .real-state {
    transform: translateY(10px);
    color: #329B93;
  }
  
  .container-select {
    display: flex;
    align-items: center;
    gap: 49em;
  }
  
  .select-box{
    gap: 0.5em;
    margin-left: 5em;
  }
  
  .container-select2 {
    display: flex;
  }
  
  #accionesSelect {
    display: inline-block;
    border-radius: none;
    background-color: #dddddd;
    border: none;
    color: #329B93;
    text-align: center;
    font-size: 17px;
    padding: 0.4em;
    width: 140%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 15px;
    height: 33px;
    margin-top: 1.3em;
  }
  
  .contenedor {
    display: flex;
    gap: 1em;
  }
  
  .subcontenedor2 {
    display: flex;
    overflow: hidden;
    position: relative;
    margin-top: 3em;
    height: 38.2em;
    gap: 1.5em;
  }

  .ventana {
    position: relative;
    padding: 0.5em;
    width: 20em;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: #ffffff;
    justify-content: space-between;
    align-items: center;
    text-align: center; 
  }

  .ventana img {
    max-width: 70%;
    margin-top: 3em;
  }
  
  .strong {
    color: #329B93;
  }

  .comprar {
    background-color: #329B93;
    border: none;
    color: #fff;
    font-size: 0.75em;
    font-weight: bold;
    cursor: pointer;
    width: 60%;
    border-radius: 4px;
    height: 4em;
    margin-top: 0.1em;
  }
  
  .comprar:hover {
    background-color: #555;
  }
  
  .comprar_estilo {
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 1em;
  }
  
  .slider {
  text-align: center;
  position: relative;
  }
  
  .prev,
  .next {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 5em; 
    border: none; 
    border-radius: 15px; 
    background-color: #329B93; 
    cursor: pointer; 
  }
  
  .subcontenedor3 {
    transform: translateY(20em);
    gap: 1em;
  }
  
  .prev:hover,
  .next:hover {
  background-color: #555;
  }
  
  .subcontenedor1 {
    width: 15%;
    height: 41.5em;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    min-width: 15%;
  }
  
  .subcontenedor1 img {
    width: 250px;
    height: 250px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
  }
  
  .subcontenedor1 h2 {
    margin-top: 20px;
    font-size: 24px;
    color: #329B93;
  }
  
  .subcontenedor1 p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .login {
    background-color: #329B93;
    border: none;
    color: #fff;
    font-size: 0.75em;
    font-weight: bold;
    padding: 0.2em;
    cursor: pointer;
    width: 150px;
    margin: 5px;
    border-radius: 4px;
    height: 2.7rem;
    margin-top: 1em;
  }
  
  .login:hover {
    background-color: #555;
  }
  
  .login1 {
    display: relative;
    text-align: center;
    text-decoration: none;
    margin-top: 2%;
    color: #ffffff;
  }
  
  .register {
    background-color: #329B93;
    border: none;
    color: #fff;
    font-size: 0.75em;
    font-weight: bold;
    padding: 0.2em;
    cursor: pointer;
    width: 150px;
    margin: 5px;
    border-radius: 4px;
    height: 2.7rem;
    margin-top: 1em;
  }
  
  .register:hover {
    background-color: #555;
  }
  
  .register1 {
    display: relative;
    text-align: center;
    text-decoration: none;
    margin-top: 2%;
    color: #ffffff;
  }
  .footer {
    position: relative;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
  
  }
  
  .footer-heading {
    margin-top: 0.6em;
  }
  
  .footer:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
  }
  
  .footer .footer-content {
    position: relative;
    z-index: 1;
    padding: 20px;
  }
  
  .footer a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  .footer-nav-social {
    float: left;
    width: 15.125em;
    display: flex;
  }
  
  .footer-nav-social a {
    margin: 0.625em;
  }
  
  .footer-nav-contact {
    float: left;
    width: 15.125em;
    display: flex;
  }
  
  .footer-nav-contact a {
    color: #eee;
  }
  
  .footer-nav-link {
    float: left;
    width: 15.125em;
    display: flex;
  }
  
  .footer-nav-link a {
    color: #eee;
  }
  
  .hello {
    width: 3.125em;
    display: block;
  }
  
  .footer-nav-copyright {
    width: 8.125em;
    display: block;
  } 