
body {
    background-color: rgba(255, 255, 255, 0.555); 
    background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);
    background: linear-gradient(to right, #FFFDE4, #005AA7);
    font-family: Arial, sans-serif;
    margin: 50;
    padding: 30;
}


.profile {
   
    text-align: 30px;
    background-color: #daf1ef;
    width: 700px;
    height: 600px;
    margin: 200px ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 1px;
    
    

}

.usuario {
    max-width: 30%;
    width: 180px;
    border-radius: 5%;
    margin : 70px; 
    background-color: rgb(255, 255, 255);
    border: 0 0 10px rgba(0, 0, 0, 0.2);
    float: right;
    
}

.Formulario{
    position: absolute;
    height:350px ;
    width:300px ;
    margin-left: 5px;
    background-color:#daf1ef;
    border-radius: 2% 2% 2% 2%;
    font-size: 20px;
    margin-top: 10px;
    margin-right: 350px;
    margin-bottom: 10px;
   
   
    
}

div#foto_propietario{
    height: 100px;
    width:100px
     ;
}

footer {
    text-align: center; /* Centra el texto en el pie de página */
    background-color: #000000; /* Establece el color de fondo en negro */
    padding: 10px 0; /* Agrega relleno de 10px arriba y abajo y 0 a los lados */
    width: 100%; /* Establece el ancho al 100% */
    font-size: 18px; /* Establece el tamaño de fuente en 18px */
    font-weight: bold; /* Establece el peso de fuente en negrita */
    color: #ffffff; /* Cambia el color del texto a blanco */
    margin-top: 20px; /* Agrega margen en la parte superior de 20px */
    height: auto; /* Establece la altura automática */
}

#copyright {
    float: left; /* Hace que el elemento flote a la izquierda */
    font-size: 15px; /* Establece el tamaño de fuente en 15px */
    color: #ffffff; /* Cambia el color del texto a blanco */
    margin-bottom: 10px; /* Agrega margen en la parte inferior de 10px */
}

#lets {
    float: left; /* Hace que el elemento flote a la izquierda */
    font-size: 12px; /* Establece el tamaño de fuente en 12px */
    color: #ffffff; /* Cambia el color del texto a blanco */
    text-decoration: none; /* Quita la decoración de enlace */
    margin: 0 5px; /* Agrega margen de 0 arriba y abajo y 5px a los lados */
}

#redes {
    float: right; /* Hace que el elemento flote a la derecha */
    font-size: 20px; /* Establece el tamaño de fuente en 20px */
    margin-top: 10px; /* Agrega margen en la parte superior de 10px */
}

#redes a {
    text-decoration: none; /* Quita la decoración de enlace */
    margin: 0 10px; /* Agrega margen de 0 arriba y abajo y 10px a los lados */
    color: #ffffff; /* Cambia el color del texto a blanco */
}
  .footer-nav-social {
    display: flex; /* Utiliza Flexbox para el diseño del pie de página */
    flex-direction: row; /* Establece la dirección de los elementos en fila */
    float: right;
    margin: 20px; /* Agrega un margen de 10px alrededor del elemento con clase "footer-nav-social" */
}

.footer-nav-social a {
    margin: 10px; /* Agrega un margen de 10px alrededor de los elementos anclados (enlaces) dentro de "footer-nav-social" */
}

.footer-nav-contact {
    display: flex; /* Utiliza Flexbox para el diseño del pie de página */
    flex-direction: row; /* Establece la dirección de los elementos en fila */
    float: right;
    margin: none; /* Agrega un margen de 10px alrededor del elemento con clase "footer-nav-social" */
}

.footer-nav-contact a {
    margin: none; /* Agrega un margen de 10px alrededor de los elementos anclados (enlaces) dentro de "footer-nav-social" */
}

.footer-nav-copyright, .footer-nav-link {
    display: flex; /* Utiliza Flexbox para el diseño del pie de página */
    flex-direction: column; /* Establece la dirección de los elementos en fila */
    float: left;
    margin: 20px; /* Agrega un margen de 10px alrededor del elemento con clase "footer-nav-social" */
    height: 100px;
}

.footer-nav-copyright a, .footer-nav-link a{
    margin: 10px; /* Agrega un margen de 10px alrededor de los elementos anclados (enlaces) dentro de "footer-nav-social" */
}
.hola
{
    width: 100%; /* Ancho del 101% para ocupar todo el ancho del contenedor */
    padding: 30px; /* Relleno de 30px alrededor del párrafo */
    font-size: 20px; /* Tamaño de fuente de 40px */
    background-color: #329B93; /* Color de fondo */
    text-align: left; /* Alineación del texto a la izquierda */
    margin-top: -2mm;
}

                            /*--------------------------------------*/

input#prueba{
    height: 100px;
    width: 100px;
    size: 100px;
}