body {
    background-color: rgba(255, 255, 255, 0.555);
    background: linear-gradient(to right, #FFFDE4, #005AA7);
    display: block;
    justify-content: flex-start;
    align-items: flex-end;
    font-family: "Open Sans", sans-serif;
    flex-direction: column;
    margin: 0;
    height: 100px;
    padding: 0;
    width: 100%;
  }
  
  .hola {
    width: 100%;
    margin: 0;
    height: 4em;
    font-size: 20px;
    background-color: #ffffff;
    text-align: left;
    margin-top: auto;
    margin-bottom: 25px;
    position: relative;
  }
  .volver {
    background-color: #329B93;
    border: none;
    color: #fff;
    font-size: 0.75em;
    font-weight: bold;
    padding: 0.2em;
    cursor: pointer;
    width: 150px;
    margin: 5px;
    border-radius: 4px;
    height: 2.7rem;
    position: flex; /* Posición fija */
    margin-top: 1em;
  }
  
  .volver span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .volver span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
  }
  
  .volver:hover span {
    padding-right: 15px;
  }
  
  .volver:hover span:after {
    opacity: 1;
    right: 0;
  }
  
  /* Estilos para el enlace de cerrar */
  .volver1 {
    display: relative;
    text-align: center;
    text-decoration: none;
    margin-top: 2%;
    color: #ffffff;
  }

  #form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
  }
  
  #form p {
    text-align: center;
  }
  
  #form label {
    font-size: 20px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  label {
    color: grey;
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
    float: left;
  }
  
  label:hover,
  label:hover ~ label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  }
  
  .footer {
    position: relative; /* Posición relativa para el contenido */
    width: 100%; /* Ancho completo */
    background-color: #000000;
    color: #ffffff;
    margin-top: 50px;
  }
  .footer-heading
  {
    margin-top: 0.6em;
  }
  .footer:before {
      content: "";
      position: absolute;
      top: 100%; /* Se posiciona después del contenido del footer */
      left: 0;
      width: 100%;
      height: 100%; /* Alto suficientemente grande para simular infinitud */
      background-color: #000000; /* Mismo color de fondo */
  }
  
  .footer .footer-content {
      position: relative; /* Posición relativa para el contenido */
      z-index: 1; /* Coloca el contenido del footer sobre el pseudo-elemento */
      padding: 20px; /* Ajusta el espaciado interno según tu preferencia */
  }
  
  /* Estilos para los enlaces del footer */
  .footer a {
      color: #ffffff;
      text-decoration: none;
  }
  
  .footer a:hover {
      text-decoration: underline;
  }
  
  /* Estilos para el elemento de navegación social en el footer */
  .footer-nav-social {
      float: left;
      width: 15.125em; /* Establece el ancho en "em" */
      display: flex;
  }
  
  /* Estilos para los enlaces dentro del elemento de navegación social */
  .footer-nav-social a {
      margin: 0.625em; /* Establece el margen usando "em" para adaptabilidad */
  }
  
  /* Estilos para el elemento de contacto en el footer */
  .footer-nav-contact {
      float: left;
      width: 15.125em; /* Establece el ancho en "em" */
      display: flex;
  }
  
  /* Estilos para los enlaces dentro del elemento de contacto */
  .footer-nav-contact a {
      color: #eee;
  }
  
  /* Estilos para el elemento de navegación en el footer */
  .footer-nav-link {
      float: left;
      width: 15.125em; /* Establece el ancho en "em" */
      display: flex;
  }
  
  .footer-nav-link a
  {
      color: #eee;
  }
  
  /* Estilos para las imágenes dentro del contenido del footer */
  .hello {
      width: 3.125em; /* Establece el ancho en "em" */
      display: block;
  }
  
  .footer-nav-copyright
  {
      width: 8.125em; /* Establece el ancho en "em" */
      display: block;
  } 