body {
    background-color: rgba(255, 255, 255, 0.555);
    background: linear-gradient(to right, #FFFDE4, #005AA7);
    display: block;
    justify-content: flex-start;
    align-items: flex-end;
    font-family: "Open Sans", sans-serif;
    flex-direction: column;
    margin: 0;
    height: 100px;
    padding: 0;
    width: 100%;
  }
  
  .hola {
    width: 100%;
    margin: 0;
    height: 4em;
    font-size: 20px;
    background-color: #ffffff;
    text-align: left;
    margin-top: auto;
    margin-bottom: 25px;
    position: relative;
  }

.login {
    background-color: #329B93;
    border: none;
    color: #fff;
    font-size: 0.75em;
    font-weight: bold;
    padding: 0.2em;
    cursor: pointer;
    width: 150px;
    margin: 5px;
    border-radius: 4px;
    height: 2.7rem;
    margin-top: 1em;
  }
  
  .login span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .login span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
  }
  
  .login:hover span {
    padding-right: 15px;
  }
  
  .login:hover span:after {
    opacity: 1;
    right: 0;
  }
  
  /* Estilos para el enlace de cerrar */
  .login1 {
    display: relative;
    text-align: center;
    text-decoration: none;
    margin-top: 2%;
    color: #ffffff;
  }
  
  .register {
    background-color: #329B93;
    border: none;
    color: #fff;
    font-size: 0.75em;
    font-weight: bold;
    padding: 0.2em;
    cursor: pointer;
    width: 150px;
    margin: 5px;
    border-radius: 4px;
    height: 2.7rem;
    margin-top: 1em;
    margin-left: 7em;
  }
  
  .register span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .register span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
  }
  
  .register:hover span {
    padding-right: 15px;
  }
  
  .register:hover span:after {
    opacity: 1;
    right: 0;
  }
  
  /* Estilos para el enlace de cerrar */
  .register1 {
    display: relative;
    text-align: center;
    text-decoration: none;
    margin-top: 2%;
    color: #ffffff;
  }

  /* Estilos para el botón de scroll */
#scrollDownButton {
    display: inline-block;
    border-radius: none;
    background-color: #dddddd;
    border: none;
    color: #329B93;
    text-align: center;
    font-size: 17px;
    padding: 0.4em;
    width: 140%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 15px;
    height: 33px;
    margin-top: 1.3em;
  }
  
  /* Estilos para el elemento de selección */
  select {
    width: 100%;
    max-width: 130px;
    height: 32px;
    border-radius: none;
    background-color: #329B93;
    border: 1px solid #CCC;
    color: #329B93;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  /* Estilos para las opciones desplegables */
  #scrollDownOptions {
    width: 100%;
    height: 32px;
    border-radius: none;
    background-color: #FFFFFF;
    border: 1px solid #CCC;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    margin-left:25em; /* 30em de margen izquierdo */
  }
  
  .contenedor {
    display: flex;
    gap: 45em;
}

.subcontenedor2 {
  margin-left: 4.2em;
  display: flex;
  overflow: hidden; /* Ocultar las ventanas adicionales */
  position: relative; /* Añadir posición relativa para que los botones se posicionen correctamente */
}

.ventana {
  padding: 1em;
  width: 25em;
  flex-shrink: 0; /* Evitar que las ventanas se reduzcan */
}

.ventana1,
.ventana2,
.ventana3 {
  text-align: center;
  transition: transform 0.5s ease;
  background-color: #eee;
  border-color: #555;
  height: 39.6em; /* Establecer una altura fija para todas las ventanas */
  overflow: hidden; /* Para evitar desbordamiento del contenido si excede la altura */
  display: flex; /* Alinear elementos verticalmente en caso de ser necesario */
  flex-direction: column; /* Alinear elementos verticalmente */
}

.slider {
  text-align: center;
  position: relative; /* Añadir posición relativa para que los botones se posicionen correctamente */
}

.prev,
.next {
  position: absolute;
  padding: 10px 15px;
  background-color: #329b93;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 5em;
  height: 5em;
  top: 50%; /* Posicionar en el centro verticalmente */
  transform: translateY(-50%); /* Ajustar verticalmente */
}

.next {
  right: 94.2em;
}

.prev {
  left: 0;
}

.prev:hover,
.next:hover {
  background-color: #555;
}
.comprar {
  background-color: #329B93;
  border: none;
  color: #fff;
  font-size: 0.875em;
  font-weight: bold;
  padding: 0.2em;
  cursor: pointer;
  width: 50%;
  border-radius: 4px;
  height: 3rem;
  position: flex;
  }

.comprar:hover {
  background-color: #555;
  }
.comprar_estilo {
  display: block;
  text-align: center;
  text-decoration: none;
  margin-top: none;
  color: #ffffff;
  font-size: 1.1em;
  }
  .subcontenedor1 {
    width: 25%;
    height: 40em;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.subcontenedor1 img {
    width: 250px;
    height: 250px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}

.subcontenedor1 h2 {
    margin-top: 20px;
    font-size: 24px;
    color: #329B93;
}

.subcontenedor1 p {
    font-size: 16px;
    margin-bottom: 10px;
}


  .footer {
    position: relative; /* Posición relativa para el contenido */
    width: 100%; /* Ancho completo */
    background-color: #000000;
    color: #ffffff;
    margin-top: 50px;
  }
  .footer-heading
  {
    margin-top: 0.6em;
  }
  .footer:before {
      content: "";
      position: absolute;
      top: 100%; /* Se posiciona después del contenido del footer */
      left: 0;
      width: 100%;
      height: 100%; /* Alto suficientemente grande para simular infinitud */
      background-color: #000000; /* Mismo color de fondo */
  }
  
  .footer .footer-content {
      position: relative; /* Posición relativa para el contenido */
      z-index: 1; /* Coloca el contenido del footer sobre el pseudo-elemento */
      padding: 20px; /* Ajusta el espaciado interno según tu preferencia */
  }
  
  /* Estilos para los enlaces del footer */
  .footer a {
      color: #ffffff;
      text-decoration: none;
  }
  
  .footer a:hover {
      text-decoration: underline;
  }
  
  /* Estilos para el elemento de navegación social en el footer */
  .footer-nav-social {
      float: left;
      width: 15.125em; /* Establece el ancho en "em" */
      display: flex;
  }
  
  /* Estilos para los enlaces dentro del elemento de navegación social */
  .footer-nav-social a {
      margin: 0.625em; /* Establece el margen usando "em" para adaptabilidad */
  }
  
  /* Estilos para el elemento de contacto en el footer */
  .footer-nav-contact {
      float: left;
      width: 15.125em; /* Establece el ancho en "em" */
      display: flex;
  }
  
  /* Estilos para los enlaces dentro del elemento de contacto */
  .footer-nav-contact a {
      color: #eee;
  }
  
  /* Estilos para el elemento de navegación en el footer */
  .footer-nav-link {
      float: left;
      width: 15.125em; /* Establece el ancho en "em" */
      display: flex;
  }
  
  .footer-nav-link a
  {
      color: #eee;
  }
  
  /* Estilos para las imágenes dentro del contenido del footer */
  .hello {
      width: 3.125em; /* Establece el ancho en "em" */
      display: block;
  }
  
  .footer-nav-copyright
  {
      width: 8.125em; /* Establece el ancho en "em" */
      display: block;
  }